<!DOCTYPE html>
<html lang="en">
  {# {% include "./partials/head.njk" %} #}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ metaDescription }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Preloads  {{ '/css/site.css' | url }} -->
    <link rel="preload" href="{{ '/assets/fonts/crimson-text-600.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/crimson-text-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/lato-300.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/lato-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/lato-italic.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/lato-700.woff2' | url }}" as="font" type="font/woff2" crossorigin>

    <!-- Twitter + Open Graph -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{ site.twitterHandle }}" />
    <meta property="og:url" content="{{ site.baseUrl ~ page.url }}" />
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:image" content="{{ metaImage }}" />

    <!-- Apple icon (minimal) -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">

    <!-- JS -->
    <script type="module" src="{{ '/assets/js/main.bundle.js' | url }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84VH0QGZ15"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-84VH0QGZ15');
    </script>

    {# end of head block for script injection #}
    {% block headend %}{% endblock %}
  </head>

  <body>
    <header class="c-siteheader">
      <div class="l-container  c-siteheader__inner">
        <div class="c-siteheader__logo">
          <h1 class="c-logo c-h1 c-h1--invert">
            <a class="c-logo__link" href="{{ '/' | url -}}">
              KiP's Family Gymnastics
              {# {% include "svg/logo.svg" %} #}
            </a>
          </h1>
        </div>
        <nav class="c-siteheader__nav">
          {% for item in mainnav %}
            {% if loop.first %}<ul class="c-mainnav">{% endif %}

              {% set activeClass = "" %}
              {% set activeAria = "" %}
              {% if item.id == currentSectionId %}
                {% set activeClass = "is-active" %}
                {% set activeAria = 'aria-current="page"' | safe %}
              {% endif %}

              <li class="c-mainnav__item"><a href="{{- item.link | url -}}" class="c-mainnav__link  {{ activeClass }}" {{ activeAria }}>{{ item.label }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
        <p class="c-siteheader__navtrigger">
          <a class="c-hamburger__link  js-navtoggle" href="#sitefooter">{% include "svg/hamburger.svg" %}</a>
        </p>
      </div>
    </header>

    <div class="c-mobilemenu  js-mobilemenu">
      <div class="l-container  c-mobilemenu__inner">
        <div class="c-mobilemenu__header">
          <p class="c-logo  c-logo--invert"><a class="c-logo__link" href="/{{ locale }}/">{% include "svg/logo_dark.svg" %}</a></p>
          <button class="c-closemenu  js-navtoggle">{% include "svg/icon_close.svg" %}</button>
        </div>
        <nav class="c-mobilemenu__navigation">
          {% for item in mainnav %}
            {% if loop.first %}<ul class="c-mobilenav">{% endif %}

              {% set activeClass = "" %}
              {% set activeAria = "" %}
              {% if item.id == currentSectionId %}
                {% set activeClass = "is-active" %}
                {% set activeAria = 'aria-current="page"' | safe %}
              {% endif %}

              <li class="c-mobilenav__item"><a class="c-mobilenav__link  {{ activeClass }}" href="{{- item.link | url -}}" {{ activeAria }}>{{ item.label }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="c-sitefooter" id="sitefooter">
      <div class="l-container  c-sitefooter__inner">
        <nav class="c-sitefooter__contact">
          <h2></h2>
          <ul class="c-footernav">
            <li class="c-footernav__item"><a class="c-footernav__link" href="tel:6031112298">603-111-2298</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="mailto:kipsgym@gmail.com">kipsgym@gmail.com</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="https://goo.gl/maps/FnegkAf8dgQG84f88">42 Wallaby Way, Sydney</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>